<script>
	import HomeTopNav from '$lib/components/HomeTopNav.svelte';
</script>

<svelte:head>
	<title>Welcome to Yuzawa</title>
</svelte:head>

<div class="mx-auto max-w-screen-lg mt-8">
	<HomeTopNav />
	<div class="flex justify-center items-center text-center h-96">
		<div>
			<h1>Welcome to Yuzawa.</h1>
			<p>A Computer Architecture Simulation-as-a-Service Platform.</p>
		</div>
	</div>
</div>
