<script>
	import ParentPopPage from './ParentPopPage.svelte';
	import { Quickies } from '$lib/utils.ts';

	export let returnToURL = '',
		returnToName = '';
</script>

<div class="max-w-screen-md mx-auto h-screen">
	<div class="w-11/12 rounded-t-xl bg-gray-50 h-10 mx-auto text-center py-2 border-gray-100 shadow">
		<button
			on:click={() => {
				Quickies.href(returnToURL);
			}}
            class="opacity-70 text-secondary underline hover:opacity-100 transition-all"
            >Back to {returnToName}.</button
		>
	</div>
	<div class="-mt-5 h-full">
		<ParentPopPage hideNav>
			<div class="mt-2">
				<slot />
            	<br><br><br>
			</div>
		</ParentPopPage>
	</div>
</div>
