<script>
	import { Quickies, DB, JWT, UserLoginFlow } from '$lib/utils.ts';
	export let userToken;
	export let redirectURL = '';

	let userData = {};

	const loadUserProfile = async () => {
		if (!userToken) {
			return;
		}

		const rsp = await DB.findOneItem('users', {
			_id: userToken.id
		});

		userData = rsp.data;
		console.log(userData);
	};
	
	let loadUserPromise = loadUserProfile();

	const updateUserProfile = async () => {
		const updatedUserData = userData;
		delete updatedUserData._id;

		const rsp = await DB.editItem(
			'users',
			{
				_id: userToken.id
			},
			{
				...updatedUserData
			}
		);

		if (rsp.status) {
			Quickies.toast.success('User profile updated!');
		} else {
			Quickies.toast.error('Error updating user profile! ' + err.messsage);
		}

		if (redirectURL) {
			window.location.href = redirectURL;
		}
	};
</script>

{#await loadUserPromise}
	<p>Loading User Profile...</p>
{:then}
	<form on:submit|preventDefault={updateUserProfile}>
		<div class="mt-0 md:grid md:grid-cols-2 md:gap-x-4">
			<div class="mb-4 md:mb-0">
				<label for="firstname" class=""> First Name* </label>
				<input
					type="text"
					name="firstname"
					id="firstname"
					class="!w-full"
					placeholder="First Name"
					bind:value={userData.firstName}
					required
				/>
			</div>
			<div class="mb-4 md:mb-0">
				<label for="lastname" class=""> Last Name </label>
				<input
					type="text"
					name="lastname"
					id="lastname"
					class="!w-full"
					placeholder="Last Name"
					bind:value={userData.lastName}
				/>
			</div>
		</div>
		<label for="affiliation" class="md:mt-4"> Affiliation </label>
		<input
			type="text"
			name="affiliation"
			id="affiliation"
			class="!w-full"
			placeholder="e.g. University, Company, etc."
			bind:value={userData.affiliation}
		/>

		<div class="mt-4 flex justify-end">
			<button
				type="submit"
				class="inline-block px-4 py-2 mt-1 text-sm leading-tight text-white bg-blue-500 border-blue-500 border-transparent rounded-md hover:bg-blue-700 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition ease-in-out duration-150"
			>
				Save
			</button>
		</div>
	</form>
{:catch error}
	<p>Error: {error}</p>
{/await}
