<script>
	import DashTopNav from '$lib/components/DashTopNav.svelte';
	import ChildPopPage from '$lib/components/ChildPopPage.svelte';
	import SetUserProfile from '$lib/components/SetUserProfile.svelte';

	export let data;
    console.log(data)
</script>

<svelte:head>
	<title>Your Dashboard</title>
</svelte:head>

<div class="overflow-hidden h-screen">
	<div class="h-full overflow-hidden mt-8">
		<DashTopNav />
		<ChildPopPage returnToURL="/dashboard" returnToName="dashboard">
			<h2 class="mb-2">Your Profile</h2>
			<p class="mb-5">Here, you can make changes to your account. You cannot change the email address associated with it, though.</p>
			<SetUserProfile userToken={data.props.userToken} />
		</ChildPopPage>
	</div>
</div>
